{% extends 'base.html.twig' %}

{% block body %}
    <h1>Requests list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Text</th>
            <th>Category</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for req in requests %}
            <tr>
                <td><a class="bblack" href="{{ path('request_show', { 'id': req.id }) }}">{{ req.id }}</a></td>
                <td>{{ req.text }}</td>
                <td>{{ req.category }}</td>
                <td>{{ req.date.format('d-m-y') }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="bblack" href="{{ path('request_show', { 'id': req.id }) }}">show</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a class="bblack" href="{{ path('request_edit', { 'id': req.id }) }}">edit</a>
                            </li>
                        {% endif %}
                        {#<li>
                            <a class="bblack" href="{{ path('bid_edit', { 'id': bid.id }) }}">edit</a>
                        </li>#}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="bblack" href="{{ path('request_new') }}">Create a new request</a>
        </li>
        <li>
            <a class="bblack" href="{{ path('MaximHelpdeskBundle_homepage') }}">Home page</a>
        </li>
    </ul>
{% endblock %}
