{% extends 'base.html.twig' %}

{% block body %}
    <h1>Request creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Create</button>
            </div>
        </div>
    {{ form_end(form) }}

    <ul>
        <li>
            <a class="bblack" href="{{ path('request_index') }}">see all requests</a>
        </li>
    </ul>
{% endblock %}
