{% extends 'base.html.twig' %}

{% block body %}
    <h1>Request</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ req.id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ req.text }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ req.category }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ req.date.format('d-m-y') }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('request_index') }}">Back to the list</a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('request_edit', { 'id': req.id }) }}">Edit</a>
            </li>
            <li>
        {% endif %}
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
