
.btn-primary{
  background-color: #337ab7;
  border-color: #2e6da4;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #7bc9e5; /
}

td, th {
  text-align: center;
  padding: 5px;
  border: 1px solid #333;
}

tbody tr:nth-child(even) {
  background: #f0f0f0;
}

A {
  text-decoration: none;
  color: #003a91;
}

A:hover {
  color: red;
}

TR[id]:hover {
  cursor: pointer;
  background: #cae9f4;
}

body {
  background-color: #f2f2f2
}

a {
  color: #000;
}

.bblack{
  color: #000;
}
