{{ form_start(form, { 'action': path('user_reg'), 'method': 'POST'}) }}
    {{ form_errors(form) }}
    {{ form_widget(form.username, {'attr': {'class':'form-control form-field', 'id': 'username', 'placeholder': 'name'}}) }}
    {{ form_widget(form.password, {'type': 'password', 'attr': {'type': 'password', 'class':'form-control form-field', 'id': 'username', 'placeholder': 'Введите пароль'}}) }}
<input type="submit" class="btn btn-default" value="Отправить"/>
{{ form_end(form) }}