<form action="{{ path('_security_check') }}" method="post" id="form-auth">

    <input type="text" id="username" name="_username" class="form-control" placeholder="Логин" value="">

    <input type="password" id="password" name="_password" class="form-control" placeholder="Пароль" value="">


    <button type="submit" name="login" class="btn btn-default">
        <i class="fa fa-sign-in"></i> ВОЙТИ
    </button>
</form>