{% extends 'base.html.twig' %}

{% block body %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('_security_logout') }}"><span>Выход</span></a>
    {% else %}
        <div class="container">
            <h3>Авторизация</h3>
            {% embed "@MaximHelpdesk/Security/form_auth.html.twig" %}{% endembed %}
            <h3>Регистрация</h3>
            {{ render(controller("MaximHelpdeskBundle:Security:reg")) }}
        </div>

    {% endif %}

{% endblock %}